body {
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

.top-banner {
    background-image: url(images/donation7-blur.jpg);
    background-repeat: no-repeat;
    background-size: center;
    text-align: center;
    margin: 0;
    padding-bottom: 5%;
    padding-top: 2%;
}

h1 {
    text-align: center;
    color: white;
}

.top-paragraph {
    text-align: center;
    color: white;
}

a {
    box-shadow: inset;
}

.link-button {
    background-color: tomato;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
}

h2 {
    font-weight: 600;
}

.donate-part-top {
    text-align: center;
    padding-top: 30px;
}

.money-amount {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: whitesmoke;
    margin: 5px;
    font-weight: 900;
    border-radius: 5px;
}

.donation-range {
    text-align: center;
}

#selected-amount {
    background-color: lightpink;
    border-color: red;
    border: 2px solid red;
    color: red;
}

.other-amount {
    border-top: 20px;
}

input {
    text-align: center;
    margin-bottom: 20px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    padding-right: 150px;
    padding-left: 150px;
}


.donation-range {
    padding-bottom: 40px;
}


.donate-part-middle {
    padding-top: 40px;
}

.necessary-1 {

    margin: 10px;
    margin-left: 300px;
    float: center;
    width: 15%;
    height: 40%;
    background: lightblue;
    text-align: left;
    padding: 10px 20px;
}


.necessary-2 {

    margin: 10px;
    float: center;
    width: 15%;
    height: 40%;
    background: lightpink;
    text-align: left;
    padding: 10px 20px;
}

.necessary-3 {

    margin: 10px;
    float: center;
    width: 15%;
    height: 40%;
    background: lightsalmon;
    text-align: left;
    padding: 10px 20px;
}

necessary-1,
.necessary-2,
.necessary-3 {
    display: inline-block;
}

.donate-procedure {
    display: flex;
    text-align: center;

}

.my-update-1 {
    background-color: gray;
    color: white;
    padding: 5px 10px;
    padding-right: 200px;
    text-decoration: none;
    margin-left: 500px;
    font-weight: 700;
}

.my-update-2 {
    background-color: tomato;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 700;

}

.get-update {
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
}


h4 {
    font: italic;
}


footer p {
    text-align: center;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;

}

#ending-1 {
    color: red;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Dancing Script', cursive;


}

#ending-2 {
    color: white;
    font-size: 8px;
}